[submodule "public"]
	path = public
	url = git@github.com:ykhorzon/ykhorzon.github.io.git
	branch = master

[submodule "theme"]
	path = theme/hugo-bootstrap-premium
	url = git@github.com:ykhorzon/hugo-bootstrap-premium.git
	branch = master
